<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/svg-icons/ausma.ai_simple_logo_final_006.svg">
    <script>
        let room = {{ room | tojson}};
    </script>
    <title>ausma.ai: {{room_name}}</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/code_block_style.css">
    <script src="/static/socket.io.js"></script>
</head>

<body>
    <header>
        <nav>
            <div>
                <a href="/">
                    <img src="/static/svg-icons/home-svgrepo-com.svg" alt="home-icon" class="home_icon">
                </a>
                <a href="/settings">
                    <img src="/static/svg-icons/gear-svgrepo-com.svg" alt="settings-icon" class="home_icon">
                </a>
            </div>
        </nav>
    </header>
    <main>
        <div id="background">
            <h1 id="input-heading"><span id="l-outfit">ausma.ai</span> : {{room_name}}</h1>
            <div id="Rag-llm">

                <div id="knowledge_base">
                    <p>Knowledge base:</p>
                    <select name="kb_name" id="kb">
                        {% if kb_list|length == 1 %}
                        <option value="{{kb_list[0]}}" selected>{{kb_list[0]}}</option>
                        {% elif kb_list|length > 1 %}
                        <option value="{{kb_list[0]}}" selected>{{kb_list[0]}}</option>
                        {% for x in kb_list[1:] %}
                        <option value="{{x}}">{{x}}</option>
                        {% endfor %}
                        {% else %}
                        <option value="No knowldege bases found!" selected>No knowldege bases found!</option>
                        {% endif %}
                    </select>

                </div>

                <div id="llm_">
                    <p>LLM model:</p>
                    <select name="llm" id="llm_model">
                        {% if llm_list|length == 1 %}
                        <option value="{{llm_list[0]}}" selected>{{llm_list[0]}}</option>
                        {% elif llm_list|length > 1 %}
                        <option value="{{llm_list[0]}}" selected>{{llm_list[0]}}</option>
                        {% for x in llm_list[1:] %}
                        <option value="{{x}}">{{x}}</option>
                        {% endfor %}
                        {% else %}
                        <option value="No models found!" selected>No models found!</option>
                        {% endif %}
                    </select>

                </div>
            </div>

            <div id="communication">

                <div id="chat"></div>

                <div id="spinner" style="display: none;">
                    <span class="loader"></span> <span class="processing">Processing...</span>
                </div>
                
                <div id="input">
                    <label id="u_i" for="user_input">User input:</label>
                    <textarea id="user_input" rows="3" name="user_input" placeholder="Ask me anything!"></textarea>
                    <button id="send_button" onclick="sendMessage()">Send</button>
                </div>
            </div>




            <script src="../static/chat_handler.js"></script>
        </div>
    </main>
</body>

</html>