<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/kb-page-style.css" />
    <link
      rel="shortcut icon"
      href="/static/svg-icons/ausma.ai_simple_logo_final_006.svg"
    />
    <title>ausma.ai: Knowledge-base</title>
  </head>
  <body>
    <header>
      <nav>
        <div>
          <a href="/">
            <img
              src="/static/svg-icons/home-svgrepo-com.svg"
              alt="home-icon"
              class="home_icon"
            />
          </a>
        </div>
      </nav>
    </header>
    <main>
      <h1 class="main-heading">Knowledge Base Settings</h1>
      <section class="kb_service-container" id="kb_service_id">
        <h1 class="kb-heading">Knowledge Base Service</h1>
        <div class="kb_service_buttons">
          <button class="start_button">Start</button>
          <button class="stop_button">Stop</button>
        </div>
        <div class="status__container">Status...</div>
      </section>

      <div class="render_kb_container"></div>

      <section class="new_kb_section kb_service-container">
        <div class="item">
          <h1>Add Knowledge Base</h1>
          <div>
            <label class="new_kb_name_label" for="new_kb_name_id">Name:</label>
            <input
              class="new_kb_name input_field"
              id="new_kb_name_id"
              name="new_kb_name"
              placeholder="Type name"
            />
          </div>
          <div class="add_button_cnt">
            <button class="new_kb_btn" disabled>Add +</button>
          </div>
        </div>
      </section>

      <template id="new_kb">
        <section
          class="list_of_knowledge_bases"
          id="list_of_knowledge_bases_id"
        >
          <div class="kb_container unsaved">
            <h1>
              <i>Knowledge Base: </i>
              <span class="main-heading heading_name">Knowledge base name</span>
            </h1>
            <span class="arrow">
              <svg
                class="up"
                style="cursor: pointer"
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="20"
                height="20"
                viewBox="0 0 30 30"
              >
                <path
                  d="M 24.990234 8.9863281 A 1.0001 1.0001 0 0 0 24.292969 9.2929688 L 15 18.585938 L 5.7070312 9.2929688 A 1.0001 1.0001 0 0 0 4.9902344 8.9902344 A 1.0001 1.0001 0 0 0 4.2929688 10.707031 L 14.292969 20.707031 A 1.0001 1.0001 0 0 0 15.707031 20.707031 L 25.707031 10.707031 A 1.0001 1.0001 0 0 0 24.990234 8.9863281 z"
                ></path>
              </svg>
            </span>
          </div>

          <div class="kb_option_cnt">
            <div class="item">
              <div class="item_input_selection">
                <label class="selection_label" for="selection"
                  >Selection:</label
                >
                <input
                  class="input_selection input_field"
                  id="selection"
                  name="selection"
                />
              </div>
              <div>
                <label class="selection_model" id="selection_model" for="model"
                  >Embedding Model:</label
                >
                <input
                  class="input_model input_field"
                  id="model"
                  name="model"
                />
              </div>
            </div>
            <div class="convertors">
              <h1>Convertors</h1>

              <div class="container" id="convertor_container"></div>

              <div class="add-convertor">
                <label for="conversion_select_id" name="type-select"
                  >Conversion:</label
                >
                <select
                  class="conversion_select"
                  name="type-select"
                  id="conversion_select_id"
                >
                  <option selected value=""></option>
                  <option value="raw">raw</option>
                  <option value="ocr">ocr</option>
                  <option value="ocr_llm">ocr_llm</option>
                  <option value="llm">llm</option>
                </select>
                <button
                  class="convertor_add_button"
                  name="convertor_add_button"
                  disabled
                >
                  Add +
                </button>
              </div>

              <div class="control_buttons">
                <button class="save_button">Save</button>
                <button class="cancel_button">Cancel</button>
                <button class="remove_button">Remove &#x2212;</button>
              </div>
            </div>
          </div>
        </section>
      </template>

      <template id="convertor-template">
        <div class="convertor_item">
          <div class="selection_conversion_container">
            <label class="selection_conversion" for="chosen_conversion_id"
              >Conversion:</label
            >
            <input
              class="selection_conversion_input input_field"
              id="chosen_conversion_id"
              name="conversion"
              disabled
            />
          </div>
          <div class="option-fields"></div>
          <div class="convertors_button_control_container">
            <button class="remove_btn">Remove &#x2212;</button>
            <button class="button-up">
              Move Up
              <span class="small-arrows up">
                <svg
                  style="cursor: pointer"
                  xmlns="http://www.w3.org/2000/svg"
                  x="0px"
                  y="0px"
                  width="10"
                  height="10"
                  viewBox="0 0 30 30"
                >
                  <path
                    d="M 24.990234 8.9863281 A 1.0001 1.0001 0 0 0 24.292969 9.2929688 L 15 18.585938 L 5.7070312 9.2929688 A 1.0001 1.0001 0 0 0 4.9902344 8.9902344 A 1.0001 1.0001 0 0 0 4.2929688 10.707031 L 14.292969 20.707031 A 1.0001 1.0001 0 0 0 15.707031 20.707031 L 25.707031 10.707031 A 1.0001 1.0001 0 0 0 24.990234 8.9863281 z"
                  ></path>
                </svg>
              </span>
            </button>
            <button class="button-down">
              Move Down
              <span class="small-arrows">
                <svg
                  style="cursor: pointer"
                  xmlns="http://www.w3.org/2000/svg"
                  x="0px"
                  y="0px"
                  width="10"
                  height="10"
                  viewBox="0 0 30 30"
                >
                  <path
                    d="M 24.990234 8.9863281 A 1.0001 1.0001 0 0 0 24.292969 9.2929688 L 15 18.585938 L 5.7070312 9.2929688 A 1.0001 1.0001 0 0 0 4.9902344 8.9902344 A 1.0001 1.0001 0 0 0 4.2929688 10.707031 L 14.292969 20.707031 A 1.0001 1.0001 0 0 0 15.707031 20.707031 L 25.707031 10.707031 A 1.0001 1.0001 0 0 0 24.990234 8.9863281 z"
                  ></path>
                </svg>
              </span>
            </button>
          </div>
        </div>
      </template>
      <template id="ocr_llm">
        <div>
          <label for="model_id">Model:</label>
          <input class="input_field" id="model_id" name="model" />
          <label for="seed_id">Seed:</label>
          <input type="number" class="input_field" id="seed_id" name="seed" />
          <label for="temperature_id">Temperature:</label>
          <input
            type="number"
            class="input_field"
            id="temperature_id"
            name="temperature"
          />
        </div>
      </template>
      <template id="raw"></template>
      <template id="llm">
        <div>
          <label for="model_id">Model:</label>
          <input class="input_field" id="model_id" name="model" />
          <label for="seed_id">Seed:</label>
          <input type="number" class="input_field" id="seed_id" name="seed" />
          <label for="temperature_id">Temperature:</label>
          <input
            type="number"
            class="input_field"
            id="temperature_id"
            name="temperature"
          />
        </div>
      </template>
      <template id="ocr"></template>
    </main>
    <footer></footer>
    <script>
      async function fetchAll() {
        const req = await fetch("/kb");
        const knowledgeBases = await req.json();
        knowledgeBases.forEach(function (config) {
          const kB = renderKB(config);
          //start/ colapsing sliders
          const listOfKn = kB.querySelector(".kb_option_cnt");
          const arrowSvg = kB.querySelector(".arrow svg");
          listOfKn.classList.add("close");
          arrowSvg.classList.remove("up");
          KBContainer.appendChild(kB);
        });
      }
      fetchAll();

      const kBStatus = document.querySelector(".status__container");
      const startButton = document.querySelector(".start_button");
      startButton.addEventListener("click", async function () {
        startButton.disabled = true;
        try {
          await fetch("/kb_service/control/start");
        } finally {
          startButton.disabled = false;
          updateStatus();
        }
      });

      const stopButton = document.querySelector(".stop_button");
      stopButton.addEventListener("click", async function () {
        stopButton.disabled = true;
        try {
          await fetch("/kb_service/control/stop");
        } finally {
          stopButton.disabled = false;
          updateStatus();
        }
      });

      async function updateStatus() {
        const req = await fetch("/kb_service/status");
        const result = await req.json();
        let status = result.status;
        if (
          result.kb_num !== undefined &&
          result.kb_name !== undefined &&
          result.kb_total !== undefined
        ) {
          status += ` - Knowledge Base [${result.kb_num}/${result.kb_total}] - \"${result.kb_name}\"`;
        }
        if (
          result.doc_num !== undefined &&
          result.doc_path !== undefined &&
          result.doc_total !== undefined
        ) {
          status += ` - Document [${result.doc_num}/${result.doc_total}] - \"${result.doc_path}\"`;
        }
        if (result.convertor !== undefined) {
          status += ` - Convertor \"${result.convertor}\"`;
        }

        kBStatus.innerHTML = status;
      }
      setInterval(updateStatus, 500);
      updateStatus();

      function renderKB(config) {
        const knowledgeBase = document
          .getElementById("new_kb")
          .content.cloneNode(true);
        const kbName = knowledgeBase.querySelector(".heading_name");
        const container = knowledgeBase.querySelector(
          ".list_of_knowledge_bases"
        );

        //minimization of the kb
        const kBContainer = knowledgeBase.querySelector(".kb_container");
        const arrowSvg = knowledgeBase.querySelector(".arrow svg");
        const listOfKN = container.querySelector(".kb_option_cnt");
        kBContainer.addEventListener("click", function () {
          arrowSvg.classList.toggle("up");
          listOfKN.classList.toggle("close");
        });
        //_____

        const nameForURI = encodeURIComponent(config.name);
        kbName.innerHTML = nameForURI;

        const selectionInput = knowledgeBase.querySelector(".input_selection");
        selectionInput.value = config.selection.join("; ");

        const embeddingModel = knowledgeBase.querySelector(".input_model");
        embeddingModel.value = config.embedding.model;

        const saveBTN = knowledgeBase.querySelector(".save_button");
        saveBTN.addEventListener("click", async function () {
          const items = convertorContainer.querySelectorAll(".convertor_item");
          // kBContainer.classList.remove("unsaved");
          let convertors = [];
          items.forEach(function (item) {
            const inputs = item.querySelectorAll("input");
            let values = {};
            inputs.forEach(function (input) {
              const name = input.name;
              const value = input.value;
              if (input.type == "number") {
                values[name] = Number(value);
              } else {
                values[name] = value;
              }
            });
            convertors.push(values);
          });

          const selectionArray = selectionInput.value
            .split(";")
            .map((s) => s.trim());

          const req = await fetch("/kb/put", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({
              name: nameForURI,
              store: "chroma",
              selection: selectionArray,
              embedding: {
                model: embeddingModel.value,
              },
              convertors: convertors,
            }),
          });
          const result = await req.json();
          console.log(result);
        });

        const cancelBTN = knowledgeBase.querySelector(".cancel_button");
        cancelBTN.addEventListener("click", async function () {
          const cancelReq = await fetch(`/kb/${nameForURI}/config`);
          const result = await cancelReq.json();
          if (result === null) {
            container.remove();
          } else {
            KBContainer.replaceChild(renderKB(result), container);
          }
          console.log(result);
        });

        const globalRemoveBtn = knowledgeBase.querySelector(".remove_button");
        globalRemoveBtn.addEventListener("click", async function () {
          if (confirm("Are you sure you want to remove the knowledge base?")) {
            const req = await fetch(`/kb/${nameForURI}/delete`, {
              method: "GET",
            });
            const result = await req.json();
            console.log(result);
            container.remove();
          }
        });

        const convertorAddButton = knowledgeBase.querySelector(
          ".convertor_add_button"
        );
        const convertorContainer = knowledgeBase.getElementById(
          "convertor_container"
        );

        config.convertors.forEach(function (convertor) {
          convertorContainer.appendChild(renderConvertor(convertor));
        });

        const conversionSelect =
          knowledgeBase.querySelector(".conversion_select");

        convertorAddButton.addEventListener("click", function () {
          const conversion = conversionSelect.value;
          let convertor = { conversion: conversion };
          if (conversion == "ocr_llm") {
            convertor = {
              conversion: "ocr_llm",
              model: "qwen2.5:latest",
              seed: 42,
              temperature: 0.7,
            };
          } else if (conversion == "llm") {
            convertor = {
              conversion: "llm",
              model: "qwen2.5vl:latest",
              seed: 42,
              temperature: 0.7,
            };
          } else if (conversion == "raw") {
            convertor = {
              conversion: "raw",
            };
          } else if (conversion == "ocr") {
            convertor = {
              conversion: "ocr",
            };
          }
          convertorContainer.appendChild(renderConvertor(convertor));
        });

        //Add button active/unactive

        function activateButton() {
          convertorAddButton.disabled = conversionSelect.value === "";
        }
        activateButton();

        conversionSelect.addEventListener("change", activateButton);

        return knowledgeBase;
      }
      //_____

      function renderConvertor(config) {
        const convertor = document
          .getElementById("convertor-template")
          .content.cloneNode(true);
        const conversionInput = convertor.querySelector(
          "input[name=conversion]"
        );
        conversionInput.value = config.conversion;
        const optionFields = convertor.querySelector(".option-fields");

        if (config.conversion == "ocr_llm") {
          const clone = document
            .getElementById("ocr_llm")
            .content.cloneNode(true);
          const modelInput = clone.querySelector("input[name=model]");
          const seedInput = clone.querySelector("input[name=seed]");
          const temperatureInput = clone.querySelector(
            "input[name=temperature]"
          );
          modelInput.value = config.model;
          seedInput.value = config.seed;
          temperatureInput.value = config.temperature;
          optionFields.appendChild(clone);
        } else if (config.conversion == "raw") {
          const clone = document.getElementById("raw").content.cloneNode(true);
          optionFields.appendChild(clone);
        } else if (config.conversion == "llm") {
          const clone = document.getElementById("llm").content.cloneNode(true);
          const modelInput = clone.querySelector("input[name=model]");
          const seedInput = clone.querySelector("input[name=seed]");
          const temperatureInput = clone.querySelector(
            "input[name=temperature]"
          );
          modelInput.value = config.model;
          seedInput.value = config.seed;
          temperatureInput.value = config.temperature;
          optionFields.appendChild(clone);
        } else if (config.conversion == "ocr") {
          const clone = document.getElementById("ocr").content.cloneNode(true);
          optionFields.appendChild(clone);
        }

        const convertorItem = convertor.querySelector(".convertor_item");
        const removeBtn = convertor.querySelector(".remove_btn");
        removeBtn.addEventListener("click", function () {
          convertorItem.remove();
        });

        const moveUp = convertorItem.querySelector(".button-up");
        moveUp.addEventListener("click", function () {
          if (convertorItem.previousElementSibling) {
            convertorItem.parentNode.insertBefore(
              convertorItem,
              convertorItem.previousElementSibling
            );
          }
        });
        const moveDown = convertorItem.querySelector(".button-down");
        moveDown.addEventListener("click", function () {
          if (convertorItem.nextElementSibling) {
            convertorItem.parentNode.insertBefore(
              convertorItem.nextElementSibling,
              convertorItem
            );
          }
        });
        return convertor;
      }

      const newKbButton = document.querySelector(".new_kb_btn");
      const newKbName = document.querySelector(".new_kb_name");
      const KBContainer = document.querySelector(".render_kb_container");

      function addButton() {
        newKbButton.disabled = newKbName.value.trim() === "";
      }
      newKbName.addEventListener("input", addButton);

      newKbButton.addEventListener("click", function () {
        const knowledgeBase = renderKB({
          name: newKbName.value,
          selection: ["**/*"],
          convertors: [
            {
              conversion: "ocr_llm",
              model: "qwen2.5:latest",
              seed: 42,
              temperature: 0.7,
            },
            {
              conversion: "raw",
            },
          ],
          embedding: {
            model: "bge-m3:latest",
          },
        });
        KBContainer.appendChild(knowledgeBase);
        newKbName.value = "";
        addButton();
      });
    </script>
  </body>
</html>
