<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/lobby-style.css" />
    <link rel="stylesheet" href="/static/side-bar-style.css" />
    <link
      rel="shortcut icon"
      href="/static/svg-icons/ausma.ai_simple_logo_final_006.svg"
    />
    <title>ausma.ai: Lobby</title>
  </head>
  <body>
    <main>
      <div class="welcome_message">
        <div class="ausma_logo">
          <img
            src="/static/svg-icons/ausma.ai_simple_logo_final_003.svg"
            alt="ausma.ai logo"
          />
        </div>
        <h1>Welcome to <span class="brand-colors">ausma.ai </span>!</h1>
        <h2 class="lobby_messages start-a-chat">Start a chat!</h2>
        <h2 class="lobby_messages">
          <a href="/settings">Go to Settings</a>
        </h2>
        <h2 class="lobby_messages">
          <a href="/knowledge-base">Go to Knowledge Base Settings</a>
        </h2>
        <h2 class="lobby_messages">
          <a href="https://ausma.ai/en/about_ausma.ai/"
            >About ausma. ai Documents</a
          >
        </h2>
      </div>
    </main>

    <script src="/static/socket.io.js"></script>
    <script src="/static/side_bar.js"></script>
    <script>
      const startAChat = document.querySelector(".start-a-chat");

      startAChat.addEventListener("click", function () {
        const navBarToggleBTN = document.querySelector(".toggle_button");
        const sideBar = document.querySelector(".side_bar");
        const name = document.getElementById("room-name");

        const validateInput = () => {
          if (!name.value.trim()) {
            name.classList.add("highlight");
            name.reportValidity();
            name.addEventListener(
              "animationend",
              function () {
                name.classList.remove("highlight");
              },
              { once: true }
            );
            name.focus();
          } else {
            alert("Click the '+' button next to the input field to continue.");
          }
        };

        if (sideBar.classList.contains("close")) {
          sideBar.classList.remove("close");
          navBarToggleBTN.classList.toggle("button_rotation");
          navBarToggleBTN.classList.toggle("at-start");

          sideBar.addEventListener("transitionend", function handler() {
            validateInput();
            sideBar.removeEventListener("transitionend", handler);
          });
        } else {
          validateInput();
        }
      });
    </script>
  </body>
</html>
