.idea
instance
logs
chroma
text
images
.venv
test/chroma
test/text
test/images
email_credentials.yaml
__pycache__
current.conf

package-lock.json
node_modules/
/dist
/build
*.spec

.hf_model_cache
/processed
/documents