.idea
instance
logs
text
images
.venv
test/chroma
test/text
test/images
test/knowledge_bases/chroma/db
email_credentials.yaml
__pycache__
current.conf
openai_models.json
package-lock.json
node_modules/
/dist
/build
*.spec

.hf_model_cache
/processed
/documents
/knowledge_bases
/lib
/bin
/chroma
*.tar.gz
/temp_images
/.cache
test/.cache

