.side_bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 280px;
  background-color: #282828;
  border-right: 1px solid rgb(17, 17, 17);
  padding: 1rem 0.5rem 0 0.3rem;
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s ease;
}

.side_bar.close {
  transform: translateX(-100%);
  opacity: 0.98;
}

.side_bar.close ~ div {
  margin-left: 0;
}

.navigation {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 1rem 0;
  padding: 0 0 0 1rem;
}

.ausma_ai_logo {
  height: 20px;
  width: 100px;
  filter: brightness(0) saturate(100%) invert(55%) sepia(0%) saturate(1517%)
    hue-rotate(178deg) brightness(101%) contrast(82%);
}

.hover_btn:hover,
.hover_btn:active {
  filter: brightness(2);
  transition: all 0.3s ease;
}

.home_icon {
  height: 25px;
  width: 25px;
  margin: 1px 0 0 0;
}
.gear {
  margin: 0 0 0 1rem;
}

.side_bar a:-webkit-any-link {
  text-decoration: none;
}

.room_create {
  margin: 0 0 1rem 0;
}

.new-room-form {
  display: flex;
  flex-direction: row;
  padding: 0 0.6rem 0 0.4rem;
}

.input-style {
  background: #3f3f3f;
  width: 100%;
  height: 2rem;
  color: #8b8b8b;
  border: none;
  border-radius: 15px;
  font-size: 14px;
  padding: 5px 8px;
  margin: 0 10px 0 0;
  box-sizing: border-box;
}

::placeholder {
  color: #8b8b8b;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #8b8b8b;
}

.side_bar textarea:focus,
.side_bar input:focus {
  outline: none;
}

.create-button {
  background: none;
  border: none;
  cursor: pointer;
}

.create-button img {
  width: 25px;
  height: 25px;
  margin: 1px 0 0 0;
  display: flex;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0 1rem 0;
}

.rooms-list {
  width: 100%;
  height: 84%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  color: white;
  font-weight: 300;
  overflow-y: auto;
  scrollbar-color: #8b8b8b transparent;
  scrollbar-width: thin;
}

.room-item {
  width: 100%;
  padding: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.side_bar ul,
.create-button {
  margin: 0;
  padding: 0;
}

.side_bar li {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  padding: 5px 8px;
  margin-bottom: 5px;
}

.side_bar li:active,
.side_bar li:hover {
  background-color: #3f3f3f;
  border-radius: 15px;
}

.remove_room_image {
  padding: 7px;
}

.rename_room_image {
  padding: 7px;
}

.toggle_button {
  position: fixed;
  top: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 100;
  transition: left 0.5s ease;
}

.position_left {
  left: 288px;
}

.position_right {
  right: 1rem;
}

.toggle_button.at-start {
  left: 0.5rem;
}

.toggle_button img {
  width: 25px;
  height: 25px;
  display: block;
  transition: transform 0.3s ease;
}

.button_rotation {
  transform: scaleX(-1);
}
