.button-container {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.small-btn {
  padding: 0;
  width: 40px;
  height: 20px;
  font-size: 12px;
  line-height: 10px;
  border-radius: 10px;
}

.random-number-button {
  padding-top: 2px;
  font-size: 14px;
}
