@import url("https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@100..900&family=Lexend:wght@100..900&family=Outfit:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: "Lato", sans-serif;
  height: 100%;
  width: 100%;
}

#root,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #212121;
}
