.lobby_main {
  height: 100%;
  margin-left: 280px;
  transition: margin-left 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome_message {
  color: #818181;
  flex: 1;
  transition: margin 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome_message h1 {
  margin-bottom: 1rem;
}

.brand-colors {
  color: #41b8aa;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
}

.ausma_logo img {
  height: 10rem;
  width: 10rem;
}

.lobby_messages {
  font-size: 14px;
  background-color: #282828;
  border-radius: 15px;
  padding: 0.5rem;
  margin: 5px;
  cursor: pointer;
}

.lobby_messages a {
  color: #818181;
  text-decoration: none;
}

.lobby_messages:hover,
.lobby_messages:active {
  background-color: #3f3f3f;
}
