* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: "Lato", sans-serif;
  height: 100%;
}

body {
  width: 100%;
  background-color: #212121;
  padding-bottom: 10rem;
  display: flex;
}

main {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #8b8b8b;
  margin-left: 280px;
  transition: margin-left 0.3s ease;
}

.side_bar.close ~ main {
  margin-left: 0;
}

section {
  width: 60%;
  background-color: #282828;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item h1 {
  text-align: center;
}

.render_kb_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main-heading {
  color: #8b8b8b;
  word-break: break-all;
  margin: 1rem;
  font-size: 26px;
}

h1 {
  font-size: 20px;
}

.add_button_cnt {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0 0 0;
}

.kb_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  padding: 0.7rem;
  cursor: pointer;
}

.kb_container span {
  font-size: 20px;
}

.kb_container:hover,
.kb_container:active {
  background-color: #3f3f3f;
  transition: all 0.3s ease;
}

.kb_service-container {
  border-radius: 15px;
  margin: 0.5rem;
  padding: 0 1rem 0 1rem;
}

.kb_service-container > * {
  margin: 1rem;
}

.status__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #3f3f3f;
  font-size: 16px;
  width: 100%;
  padding: 8px 1rem;
  border-radius: 15px;
}

.arrow {
  display: flex;
}

.arrow svg {
  transition: transform 0.25s ease-out;
  fill: #8b8b8b;
}

.button-style {
  width: 100px;
  height: 30px;
  color: #282828;
  background: #717171;
  border: none;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: inset 2px 2px 2px 0px rgba(61, 61, 61, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
}
.button-style:hover {
  background: #8b8b8b;
}

.button-style:disabled,
.button-style[disabled] {
  background-color: #8b8b8b;
  color: #545454;
}

.up svg {
  transform: rotate(180deg);
}
svg.up {
  transform: rotate(180deg);
}

.start_button {
  margin: 0 0.7rem 0 0;
}
.button-up {
  margin: 0 0.7rem 0 0.7rem;
}

.save_button {
  margin: 0 0.7rem 0 0;
}

.remove_button {
  margin: 0 0 0 0.7rem;
}

.convertor_add_button {
  margin: 0 0 0 0.7rem;
}

.kb_option_cnt {
  width: 100%;
  padding: 0 1rem 0 1rem;
  overflow: hidden;
  max-height: 500rem;
  opacity: 1;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.kb_option_cnt.close {
  max-height: 0;
  opacity: 0;
}

.list_of_knowledge_bases {
  border-radius: 15px;
  margin: 0.5rem;
}

label {
  display: inline-block;
  margin: 0.5rem 0.5rem 0.5rem 0;
}

textarea:focus,
input:focus {
  outline: none;
  word-break: break-all;
}

.input_field {
  background-color: #3f3f3f;
  width: 100%;
  height: 2rem;
  border: none;
  color: #8b8b8b;
  border-radius: 15px;
  font-size: 16px;
  padding: 1rem 1rem;
  white-space: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.item {
  width: 100%;
  padding: 0 0 2rem 0;
  border-bottom: 1px groove #3f3f3f;
}

.kb_service-container .item {
  border-bottom: none;
  padding: 0;
}

select {
  background-color: #8b8b8b;
  color: #282828;
  font-size: 14px;
  height: 30px;
  border-radius: 5px;
  padding: 7px 9px;
  border: none;
  outline: none;
  box-shadow: inset 2px 2px 2px 0px rgba(61, 61, 61, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
}

.container {
  width: 100%;
}

.convertors {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.convertors > h1 {
  margin: 2rem 0 1rem 0;
}

.selection_conversion_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.convertors_button_control_container {
  margin: 2rem 0 0 0;
  padding: 0 0 2rem 0;
  border-bottom: 1px groove #3f3f3f;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.add-convertor {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 0 0;
  padding: 0 0 2rem 0;
  border-bottom: 1px groove #3f3f3f;
}

.control_buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 2rem 0 1rem 0;
}
