* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: "Lato", sans-serif;
  height: 100%;
}

body {
  width: 100%;
  background-color: #212121;
  display: flex;
}

main {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
  margin-left: 280px;
  transition: margin-left 0.3s ease;
}

.side_bar.close ~ main {
  margin-left: 0;
}

section {
  width: 80%;
}

.main-heading {
  color: #8b8b8b;
  margin: 1rem;
  font-size: 26px;
}

.settings-option {
  font-size: 20px;
}

.settings-option:hover,
.settings-option:active {
  background-color: #3f3f3f;
  transition: all 0.3s ease;
}

.settings-cnt {
  border: 1px solid #282828;
  background-color: #282828;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.7rem;
  cursor: pointer;
}

.arrow svg {
  transition: transform 0.25s ease-out;
  fill: #8b8b8b;
}

.arrow svg.rotated {
  transform: rotate(180deg);
  transition: transform 0.15s ease-in;
}

.up svg {
  transform: rotate(180deg);
}

.settings-cnt:hover,
.settings-cnt:active {
  background-color: #3f3f3f;
}

.settings-list-section {
  color: #8b8b8b;
  background-color: #282828;
  border-radius: 15px;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.setting-list {
  background-color: #282828;
  color: #8b8b8b;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 15px;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  padding: 0 1rem 0 1rem;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.setting-list.open {
  max-height: 500rem;
  opacity: 1;
}

.setting-list p {
  padding: 1rem 0 0 0;
  text-align: center;
}

#llm-runners-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#new-llm-runner {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.llm-runners-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #282828;
  background-color: #282828;
}

.llm-runner-form {
  width: 100%;
}

#new-llm-runner-type {
  background-color: #8b8b8b;
  color: #282828;
  font-size: 14px;
  height: 30px;
  border-radius: 5px;
  padding: 7px 9px;
  border: none;
  outline: none;
  box-shadow: inset 2px 2px 2px 0px rgba(61, 61, 61, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
}

.llm-runners-item .llm-runner-type {
  margin: 1rem 0 0 0;
}

.llm-runner-type {
  width: 100%;
  margin: 3rem 0 0 0;
}

.option-fields {
  width: 100%;
}

.llm-runner-input,
.llm-runner-input-name {
  background-color: #3f3f3f;
  width: 100%;
  height: 2rem;
  border: none;
  color: #8b8b8b;
  border-radius: 15px;
  font-size: 16px;
  padding: 1rem 1rem;
  white-space: normal;
}

label {
  display: inline-block;
  margin: 0.5rem 0 0.5rem 0;
}

#new-llm-runner label {
  margin: 0 0.5rem 0 0;
}

textarea:focus,
input:focus {
  outline: none;
}

.button-style {
  width: 100px;
  height: 30px;
  color: #282828;
  background: #717171;
  border: none;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: inset 2px 2px 2px 0px rgba(61, 61, 61, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
}

.button-style:hover {
  background: #8b8b8b;
}

.button-style:disabled,
.button-style[disabled] {
  background-color: #8b8b8b;
  color: #545454;
}

.move-up {
  margin: 0 0.7rem 0 0.7rem;
}

.edit-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 2rem 0 0 0;
  padding: 0 0 2rem 0;
  border-bottom: 1px groove #3f3f3f;
}

.llm-runner-save-control {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.llm-save-control {
  margin: 0 1rem 0 0;
}

.llm-runner-control-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0 1rem 0;
}

.llm-runner-button {
  margin-left: 1rem;
}

.setting-buttons button {
  width: 140px;
  height: 35px;
}

.prompt_save_button {
  margin: 0 1rem 0 0;
}

.setting-buttons {
  margin: 2rem 0rem 1rem 0rem;
  padding: 0;
}

#default-system-prompt {
  width: 100%;
}

.system-prompt-input {
  width: 100%;
  min-height: 7rem;
  max-height: 50rem;
  background: #3f3f3f;
  border: none;
  color: #8b8b8b;
  border-radius: 15px;
  font-size: 16px;
  padding: 1rem 1rem;
  field-sizing: content;
  resize: vertical;
  overflow: auto;
  scrollbar-color: #282828 #8b8b8b;
  white-space: normal;
}

.prompt-item-button-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 3rem 0 1rem 0;
}

.prompt-item label {
  margin: 0 0 1rem 0;
}

#restore-default-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#section-three {
  margin-bottom: 10rem;
}
