@import url("https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@100..900&family=Lexend:wght@100..900&family=Outfit:wght@100..900&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #212121;
  display: flex;
}

main {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
  margin-left: 280px;
  transition: margin-left 0.3s ease;
}

.side_bar.close ~ main {
  margin-left: 0;
}

.background_ctn {
  width: 80%;
  height: 93%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#background {
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

header a:link {
  color: #121212;
}

header a:visited {
  color: #121212;
}

#l-outfit {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: #8b8b8b;
  font-size: 30px;
}

#input-heading {
  color: #8b8b8b;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 53rem;
  font-size: 30px;
  margin: 1rem 0 1rem 0;
}

#Rag-llm {
  color: #8b8b8b;
  font-weight: bold;
  width: 85%;
  height: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem 0 0 0;
}
#Rag-llm p {
  margin: 0;
}

.rags {
  display: none;
}

.rag_button:hover {
  background: #3f3f3f;
}

.select-ctn {
  position: relative;
  display: inline-block;
  border-radius: 12px;
  transition: background-color 0.2s;
  padding: 10px 10px;
  cursor: pointer;
}

.select-ctn:hover {
  background-color: #282828;
}

.select-ctn::after {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #8b8b8b;
  font-size: 14px;
}

select {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: #8b8b8b;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  padding: 0px 0 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#kb {
  width: 8rem;
}

#llm_model {
  width: 8rem;
}

.select option {
  color: #8b8b8b;
  background-color: #313131;
}

#llm_ {
  width: 15rem;
}

#input {
  width: 105%;
  display: flex;
  flex-direction: row;
  padding: 0 0 1rem 0;
  margin: 20px 0 0 0;
}

#u_i {
  display: none;
}

#user_input {
  width: 95%;
  height: auto;
  max-height: 30rem;
  background: #282828;
  border: 0.5px solid #3f3f3f;
  color: white;
  border-radius: 15px;
  font-size: 20px;
  padding: 1rem;
  box-sizing: border-box;
  resize: none;
  scrollbar-color: #8b8b8b transparent;
  scrollbar-width: thin;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  line-height: 1;
}

textarea:focus,
input:focus {
  outline: none;
}

#user_input:disabled {
  background: #282828;
  color: white;
}

#send_button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

#send_button svg {
  width: 50px;
  height: 35px;
  margin: 1px 0 0 0;
  display: flex;
}

#send_button svg:hover,
#send_button svg:active {
  filter: brightness(2);
  transition: all 0.3s ease;
}

.assistant-icon,
.user-icon {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

.loader {
  border: 4px solid #eee;
  border-top: 4px solid #888;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  animation: spin 0.8s linear infinite;
  vertical-align: middle;
  margin-right: 5px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.user-message {
  color: #fa994a;
  white-space: normal;
  margin-bottom: 2rem;
}

.assistant-message {
  margin-bottom: 2rem;
}

.assistant-message .assistant {
  font-family: "Outfit", sans-serif;
  letter-spacing: -1px;
  font-weight: 400;
  color: #41b8aa;
  white-space: normal;
}

.assistant-model {
  float: right;
  color: #8b8b8b;
  font-style: italic;
  font-family: monospace;
}

.message {
  font-family: "Lato", sans-serif;
  white-space: normal;
  color: #8b8b8b;
  word-wrap: break-word;
  word-break: break-word;
}

#send_button.disabled {
  background: #ccc;
  color: #666;
  cursor: not-allowed;
}

#chat {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0rem 2rem;
  word-wrap: break-word;
  scrollbar-color: #8b8b8b transparent;
  scrollbar-width: thin;
}

#communication {
  width: 85%;
  max-height: 90%;
  display: flex;
  flex-direction: column;
}

.assistant-utils-download:hover {
  filter: brightness(2);
  transition: all 0.3s ease;
}

.processing {
  color: #8b8b8b;
  margin: 1rem 0 1rem 0;
}

#spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

a:link {
  color: #41b8aaff;
}

a:visited {
  color: #fa994aff;
}

pre {
  background: #313131;
  border: solid 1px #3f3f3f;
  border-radius: 15px;
  padding: 1rem;
  white-space: pre-wrap;
  box-shadow: none;
}
